body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background-color: #009CA6;;
    padding: 10px 0;
    text-align: center;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 20px;
}
.navbar-menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #fffafa;
}


.title {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s;
   
}


.content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 20px; /* Space between boxes */
    max-width: 800px; /* Optional: Adjust based on design needs */
    width: 100%;
}

.box {
    background-color: #f0f0f0;
    border: 3px solid #009CA6;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #000000;
}
.content-major {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.box-container-major {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 20px; /* Space between boxes */
    max-width: 800px; /* Optional: Adjust based on design needs */
    width: 100%;
}

.box-major {
    background-color: #f0f0f0;
    border: 3px solid #009CA6;
    padding: 22px;
    text-align: center;
    font-size: 20px;
    color: #009CA6;
}